.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.site {
  z-index: 1;
}

.logo {
  margin-bottom: 2em;
  font-size: 200%;
}
